#cr-modal,
#cr-modal * {
	box-sizing: border-box;
}
#cr-modal {
	background-color: #fff;
	padding: 15px;
	width: 50vw;
	border-radius: 3px;
}
@media (max-width: 767px) {
	#cr-modal {
		width: 90vw;
	}
}

#cr-modal .cr-modal-title {
	font-size: 18px;
	font-weight: 700;
	margin: 0px 0px 10px;
	border-bottom: 1px solid #888;
}

#cr-modal p {
	margin-top: 0px;
	margin-bottom: 10px;
}

#cr-modal .cr-question label {
	display: block;
	font-family: sans-serif;
}
#cr-modal .cr-question input[type="text"],
#cr-modal .cr-question textarea {
	display: block;
	width: 100%;
	padding: 5px;
	border: 1px solid #888;
	transition: border .2s;
	border-radius: 3px;
	margin-bottom: 10px;
}
#cr-modal .cr-question textarea {
	resize: vertical;
	height: 125px;
	min-height: 50px;
	max-height: 200px;
}
#cr-modal .cr-question input[type="text"]:focus,
#cr-modal .cr-question textarea:focus {
	outline: none;
	border: 1px solid #42a5f5;
}
#cr-modal .cr-submit {
	text-align: right;
}
#cr-modal .cr-submit input {
	cursor: pointer;
	display: inline-block;
	outline: none;
	border: 1px solid #2196f3;
	background-color: #2196f3;
	padding: 10px 20px;
	border-radius: 3px;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	transition: background-color .2s;
}
#cr-modal .cr-submit input:hover,
#cr-modal .cr-submit input:focus {
	background-color: #42a5f5;
}

#cr-modal form {
	clear: both;
}

#cr-modal .cr-member-list {
	margin-bottom: 10px;
}

#cr-modal .cr-member {
	clear: both;
	margin-bottom: 8px;
	height: 20px;
}

#cr-modal .cr-member-name,
#cr-modal .cr-member-username {
	height: 20px;
	line-height: 20px;
	display: inline-block;
	float: left;
	margin-left: 5px;
	font-size: 12px;
}
#cr-modal .cr-member-avatar {
	width: 20px;
	height: 20px;
	display: inline-block;
	float: left;
}